*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #333;
  width: 200vw;
}

.bars rect {
  fill: steelblue;
}

.bars rect:hover {
  fill: orange;
}

.labels text {
  text-anchor: end;
}

.content {
  display: flex;
  height: 2.5rem;
}

.content div {
  margin: 0.125rem;
  background-color: orange;
  color: white;
  width: 0.875rem;
  height: 0.875rem;
  text-align: center;
}

.menu div {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  margin-right: 0.625rem;
  background-color: #aaa;
  color: white;
  border-radius: 0.3125rem;
  transition: 0.3s background-color;
  cursor: pointer;
  user-select: none;
}

.menu div:hover {
  background-color: #777;
}

circle {
  fill: #af90ca;
}
